/* ContactStyle.css */
.contact-header{
  text-align: center;
  margin-top: 9rem;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.contact-image {
  flex: 1;
  margin-right: 2rem;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

.contact-form {
  flex: 1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  min-height: 120px;
}

.contact-form input[type="submit"] {
  background-color: #7B2CBF;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-image {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .contact-form {
    padding: 1.5rem;
  }
}